
<header [class.sticky]="isSticky">
  <div class="logo">
    <a href="#inicio"><img src="/academiaJonico/logoJonico.png" height="60px" alt="Logo"></a>
  </div>

  <!-- Icono de menú para móviles -->
  <i class="bi bi-list menu-icon" (click)="toggleMenu()"></i>

  <nav [ngClass]="{ 'active': menuOpen }">
    <a class="link" href="#nosotros" >Nosotros</a>
    <a class="link" href="#clases">Clases</a>
    <a class="link" href="#contacto">Contacto</a>
    <a target="_blank" href="https://api.whatsapp.com/send?phone=5216941169525&text=Me%20Interesa%20mas%20Informacion%20%3A)"><i class="bi bi-whatsapp fs-4"></i></a>
    <a target="_blank" href="https://www.facebook.com/people/Academia-De-M%C3%BAsica-J%C3%B3nico/100063802641723/?ref=py_c"><i class="bi bi-facebook fs-4"></i></a>
  </nav>
</header>
<div class="spacer" ></div>

<app-inicio></app-inicio>

<footer class="footer">
  <p>© 2025 AcademiaJonico. Todos los derechos reservados.</p>
</footer>


<router-outlet />
